<div class="slider-container">
    <i class = "fas fa-arrow-circle-left" id = "prevBtn"></i>
    <i class = "fas fa-arrow-circle-right" id = "nextBtn"></i>
    <div class = "slider">
      <a href="/products/boots" class="slider-item"></a>
      
      <a href="/product/kits/fc-rm-page"><img id="img1" src="/images/rmpromo.png" style="width: auto; height: auto;"></a>
      
      <a href="/product/kits/fc-inter-page"><img id="img2" src="/images/interpromo.webp" style="width: auto; height: auto;"></a>
      
      <a href="/products/boots"><img id="img3" src="/images/bootspromo.jpg" style="width: auto; height: auto;"></a>

      <a href="/product/kits/fc-rm-page"><img id="first2" src="/images/rmpromo.png" style="width: auto; height: auto;"></a>

  </div>
</div>