<link rel="icon" href="images/titlelogo.png" type="images/icon type">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/0db3688881.js" crossorigin="anonymous"></script>
    <title><%= kit.name%> | QuickEquip</title>
    <link rel = "stylesheet" href = "/style/fcbkitcss.css" />