<nav class="navbar">
    <div class="logo">
        <img src="/images/titlelogo.png" alt="QuickEquip Logo">
        <span>QuickEquip</span>
    </div>
    <div class = "icon-cart">
      <a href="/cart"><i class="fas fa-shopping-cart">
        <span id="cart-count">0</span>
      </i></a>
    </div>
    <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        <li><a href="/products/kits">Kits 24/25</a></li>
        <li><a href="/products/boots">Boots</a></li>
        <li><a href="/products/other">Other</a></li>
    </ul>
</nav>