body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

#background, #background-next {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1; 
    transition: opacity 2s ease-in-out, transform 5s ease-in-out;
}

.background-next {
    opacity: 0; 
}

.headers {
    position: relative;
    top: 20%;
    left: 50%;
    width: 100%;
}

.h1 {
    position: absolute;
    right: 38%;
    top: 5%;
    font-size: 80px;
    font-weight: bold;
    background: linear-gradient(to left, #30b308, rgb(4, 255, 117));
    background-clip: text;
    -webkit-text-stroke: 2px black;
    color: transparent;
    margin-bottom: 5px;
    opacity: 0;
    transform: translateY(-50px); 
    transition: opacity 1s ease, transform 1s ease; 
}

.h2 {
    position: absolute;
    right: 39%;
    top: 80%;
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    color: rgb(255, 255, 255);
    margin-top: 0;
    opacity: 0.5; 
    transform: translateY(-50px); 
    transition: opacity 1s ease, transform 1s ease; 
}

.line {
    position: absolute;
    width: 0; 
    height: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0;
    padding: 0;
    top: 50%;
    transition: width 2s ease; 
}

.center {
    position: absolute;
    width: 0; 
    height: 0; 
    border: 10px solid rgba(255, 255, 255, 0.4);
    right: 36%;
    top: 225px;
    border-radius: 50%;
    transition: width 2s ease, height 2s ease; 
    display: flex;
    justify-content: center;
    align-items: center;
}

button.shop-now {
    position: relative;
    right: 1%;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    color: black;
    width: 0; 
    height: 0;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    cursor: pointer;
    border-radius: 50%;
    transition: width 2s ease, height 2s ease, background-color 0.3s ease;
}

button.shop-now:hover {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
}


