<!DOCTYPE html> 
<html lang="en"> 
<head>   
  <%- include ('./modules/header')%> 
</head> 
<body>     
  <%- include ('./modules/nav') %>        
  <h1>Your Shopping Cart</h1>
<div id="cart-items"></div>
<h2>Total: <span id="total-price">0</span> BGN</h2>

<form id="order-form">
    <h2>Your Details</h2>

    <div class="form-group"> 
        <label for="customer-name">First Name:</label> 
        <input type="text"
               name="name"
               id="customer-name"
               placeholder="First Name" required>
    </div>

    <div class="form-group"> 
       <label for="customer-surname">Last Name:</label> 
       <input type="text"
              name="surname"
              id="customer-surname" 
              placeholder="Last Name" required>
    </div>

     <div class="form-group"> 
        <label for="customer-email">Email:</label>
        <input type="email" 
               name="email"
               id="customer-email" 
               placeholder="Email" required>
    </div>

    <div class="form-group">
        <label for="customer-address">Address:</label>
        <textarea name="address" 
                  id="customer-address" 
                  placeholder="Address" rows="3" required></textarea>
    </div>

    <div id="order-message" style="margin-top: 10px; font-weight: bold;"></div>

    <button type="submit" id="submit-order-button">Finish Order</button> 
</form>
<script src="/script/cart.js"></script>
<script src="/script/cartDisplay.js"></script>
</body> 
</html>