<!doctype html>
<html lang="en-US">
  <head>
    <link rel="icon" href="images/titlelogo.png" type="images/icon type">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>QuickEquip - Your Football Store</title>
    <link rel = "stylesheet" href = "/style/style.css" />
  </head>
  <body>
    <div id="background"></div>
    <div id="background-next"></div>

    <div class="header-container">
        <h1 class="h1">QuickEquip</h1>
        <h2 class="h2"><i>Your Football Store</i></h2>
    </div>

    <div class="line"></div>
    <div class="center">
      <button class="shop-now" onclick="window.location.href='/home'">
        <h3 class="shop-now-text"><strong>SHOP NOW</strong></h3>
    </button>
        </button>
    </div>
    <script src="/script/script.js"></script>
</body>

</html>


